.header_wrapper {
	border-bottom: 1px #dddddd solid;
	margin-bottom: 30px;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px;
	font-family: 'Fira Mono';
	text-transform: uppercase;
	position: relative;
}
.links {
	display: flex;
	gap: 30px;
}
.links a {
	position: relative;
	color: #172e44;
	letter-spacing: 0.15em;
	font-weight: 500;
	transition: 0.3s ease;
}
.links a::after {
	content: '';
	position: absolute;
	bottom: -3px; /* расстояние до текста */
	left: 0;
	width: 0;
	height: 1px; /* толщина полоски */
	background-color: #222325; /* цвет полоски */
	transition: width 0.3s ease; /* плавность анимации */
}

.links a:hover::after {
	width: 100%; /* на всю ширину ссылки при наведении */
}
.links a:hover {
	color: #222325;
}
.logo {
	position: relative;
	width: 120px;
	height: 40px;
	padding-top: 0.25em;
	text-decoration: none;
	color: #222325;
	font-family: 'Helvetica Neue';
	font-size: 32px;
	font-weight: 700;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: 0.3s ease;
}
.logo img {
	width: 100%;
	height: max-content;
}
.logo:hover {
	color: #222325;
}
.buttons {
	position: relative;
	display: flex;
	gap: 10px;
}
.buttons a {
	display: block;
	aspect-ratio: 1/1;
	height: 37px;
	padding: 8.5px;
	background-color: #172e44;
	transition: 0.3s ease;
}
.buttons a:hover {
	background-color: #222325;
}
.buttons a .icon {
	position: relative;
	width: 20px;
	height: 20px;
}
.button {
	cursor: pointer;
	font-size: 14px;
	display: flex;
	letter-spacing: 0.15em;
	padding: 10px 15px;
	background: #172e44;
	color: #ffffff;
	font-weight: 500;
	transition: 0.3s ease;
	gap: 5px;
	align-items: center;
}
.button:hover {
	background: #222325;
}

.burger {
	display: none;
	width: 24px;
	height: 24px;
	cursor: pointer;
	position: relative;
}
.close {
	display: none;
	position: absolute;
	top: 20px;
	right: 10px;
	cursor: pointer;
	width: 24px;
	height: 24px;
}

.popupMenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #fffcf9;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}
.menuContent {
	font-family: 'Fira Mono';
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	color: white;
	font-size: 24px;
	font-weight: 500;
}

.menuContent a {
	color: #172e44;
	letter-spacing: 0.15em;
	font-weight: 500;
}
.mob_button {
	cursor: pointer;
	display: flex;
	padding: 10px 15px;
	background: #172e44;
	color: #ffffff !important;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.15em;
	gap: 5px;
	align-items: center;
}
@media screen and (max-width: 768px) {
	.logo {
		position: relative;
		left: 0%;
		top: 0%;
		transform: translate(-0%, -0%);
	}
	.buttons {
		display: none;
	}
	.links {
		display: none;
	}
	.burger {
		display: flex;
	}
	.close {
		display: block;
	}
}
