.bg {
	background-color: #f9f5f1;
	padding: 50px 0;
}
.header {
	padding-bottom: 70px;
}
.header h2 {
	font-family: 'SturkopfGrotesk';
	padding-bottom: 0.3em;
}
.header p {
	max-width: 600px;
}

.slide {
	width: 100%;
}
.img {
	position: relative;
	display: block;
	aspect-ratio: 1/1.3;
	width: 100%;
	margin-bottom: 25px;
}
.img img {
	object-fit: cover;
}
.slide h4 {
	font-family: 'Helvetica Neue';
	color: #222325;
	padding-bottom: 0.5em;
	display: flex;
	gap: 10px;
}
.slide small {
	font-family: 'Fira Mono';
	letter-spacing: -0.03em;
	color: #868585;
	font-weight: 400;
}

.button {
	max-width: max-content;
	margin-top: 30px;
	position: relative;
	display: flex;
	font-size: 30px;
	gap: 10px;
	align-items: end;
	margin-left: auto;
	letter-spacing: -0.01em;
	color: #222325;
}

@media screen and (max-width: 1040px) {
	.button {
		font-size: 24px;
	}
	.button img {
		width: 24px;
		height: 24px;
	}
}
@media screen and (max-width: 768px) {
	.button {
		font-size: 20px;
	}
	.button img {
		width: 20px;
		height: 20px;
	}
}
