.rooms {
	margin-bottom: 50px;
}
.card {
	width: 100%;
}
.img {
	position: relative;
	display: block;
	aspect-ratio: 1/1.3;
	width: 100%;
	margin-bottom: 25px;
}
.img img {
	object-fit: cover;
}
.card h4 {
	font-family: 'Helvetica Neue';
	color: #222325;
	padding-bottom: 0.2em;
	display: flex;
	gap: 10px;
}
.card small {
	font-family: 'Fira Mono';
	letter-spacing: -0.03em;
	color: #868585;
	font-weight: 400;
}
